{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="{% url 'index' %}">{% trans 'Home' %}</a><span class="divider">/</span></li>
        <li><a href="{% url 'account' %}">{% trans 'My Account' %}</a><span class="divider">/</span></li>
        <li class="active">{% trans 'Password Change' %}</li>
    </ul>
{% endblock %}

{% block title %}{% trans 'Password Change Successful' %}{% endblock %}

{% block content %}

    <h2>{% trans 'Password change successful' %}</h2>

    <hr>

    <p>{% trans 'Your password was changed.' %}

    <p><a href="{% url 'account' %}">{% trans 'Return to My Account.' %}</a></p>

{% endblock %}
