{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="{% url 'index' %}">{% trans 'Home' %}</a><span class="divider">/</span></li>
        <li class="active">{% trans 'Password Reset' %}</li>
    </ul>
{% endblock %}


{% block title %}{% trans 'Password Reset Successful' %}{% endblock %}

{% block content %}

    <h2>{% trans 'Password Reset Successful' %}</h2>

    <hr>

    <p>{% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly." %}</p>

    <p><a href="{% url 'index' %}">{% trans 'Return Home.' %}</a></p>

{% endblock %}
