{% for field in form.visible_fields %}
    <div class="control-group{% if field.errors %} error{% endif %}">
        <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
        <div class="controls">
            {{ field }}
            <br>
            <small class="muted">{{ field.help_text }}</small>
            {% if field.errors %}
                <ul class="unstyled">
                    {% for error in field.errors %}
                        <li class="text-error"><i class="icon-warning-sign"></i> {{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endfor %}
{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}